= attributes_for @proposal do
  .panel-sub
    = header dep_raw, true

  .panel-body
    = string_field :vhost
    = integer_field :port
    = string_field :user

    %fieldset#ha-setup{ data: { show_for_clusters_only: "true", elements_path: "database-server" } }
      %legend
        = t(".ha_header")

      = select_field %w(ha storage mode), collection: :ha_storage_mode_for_rabbitmq, data: { showit: ["drbd", "shared"].join(";"), showit_target: "#drbd_storage_container;#shared_storage_container", showit_direct: "true" }

      #drbd_storage_container
        .alert.alert-info
          = t(".ha.storage.drbd_info")
        = integer_field %w(ha storage drbd size)

      #shared_storage_container
        = string_field %w(ha storage shared device)
        = string_field %w(ha storage shared fstype)
        = string_field %w(ha storage shared options)
